/* Estilos para el header */
header {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    height: 100px;
    padding: 10px 0; /* Espaciado interno */
}

.navbar-brand {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Alinear elementos verticalmente */
}

.navbar-brand img {
    max-height: 50px; /* Tamaño máximo del logo */
    margin-right: 20px; /* Margen a la derecha del logo */
}

.navbar-nav {
    display: flex; /* Usar flexbox para alinear elementos */
    gap: 10px; /* Espacio entre elementos */
    align-items: center; /* Alinear elementos verticalmente */
}

.nav-item {
    list-style: none; /* Quitar viñetas de la lista */
}

.nav-link {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none; /* Quitar subrayado de los enlaces */
    padding: 10px; /* Espaciado interno de los enlaces */
}

.nav-link:hover {
    text-decoration: underline; /* Subrayar enlace al pasar el ratón */
}

/* Estilos para el botón de navegación en dispositivos móviles */
.navbar-toggler {
    color: #fff; /* Color del icono */
    border-color: #fff; /* Color del borde del botón */
}

/* Estilos para el menú desplegable en dispositivos móviles */
.collapse {
    justify-content: flex-end; /* Alinear a la derecha en dispositivos móviles */
}



/* Lista de eventos */
.event-list {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff; /* Fondo blanco */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    max-height: 500px; /* Altura máxima para evitar que se alarguen demasiado */

}

.event h2, .event p {
    color: #000; /* Texto negro */
}

.event .event-image {
    width: 100%;
    text-align: center; /* Centrar imagen */
    margin-bottom: 20px;
}

.event .event-image img {
    max-width: 100%;
    height: auto; /* Mantener proporción */
    border-radius: 8px;
}

/* Botones de acción */
.event button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #6c63ff; /* Fondo botón */
    color: #fff;
    align-self: flex-end; /* Alinear a la derecha */
    margin-top: 20px;
}

.event button:hover {
    background-color: #574bff; /* Fondo botón hover */
}

.event button.asistire {
    background-color: #5cb85c; /* Fondo botón "Asistiré" */
}

.event button.asistire:hover {
    background-color: #4cae4c; /* Fondo botón "Asistiré" hover */
}

/* Contenedor de filtros */
.event-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #D8D8D8; /* Fondo gris */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Botones de filtrado */
.category-filters button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #D8D8D8; /* Fondo gris */
}

.category-filters button:not(:last-child) {
    margin-right: 10px; /* Margen entre botones */
}

.show-all-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4287f5;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.show-all-button:hover {
    background-color: #1e69d4;
}

/* Contenedor de filtros y botón de mostrar todos los eventos */
.filter-container {
    background-color: #ECEFF1; /* Fondo gris claro */
    padding: 20px;
    margin-bottom: 20px;
}

.filter-container .event-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.filter-container .dropdown button.dropbtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #D8D8D8; /* Fondo gris */
    border: none;
    cursor: pointer;
}

.filter-container .show-all-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #D8D8D8;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.filter-container .show-all-button:hover {
    background-color: #bbb4b4;
}

/* Estilos para el contenedor de eventos en el aside */
#eventAside {
    background-color: #D8D8D8;
    padding: 20px;
    border-radius: 8px;
}

/* Estilos para el título del aside */
#eventAside h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8em;
    text-align: center;
}

/* Estilos para los eventos en el aside */
#asideEventList {
    padding: 10px;
}

.aside-event-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.aside-event-card .event-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.aside-event-card .event-info p {
    margin: 5px 0;
}

body {
    background-image: url('/public/background/LoginBackground.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
}


/* Responsive */
@media (max-width: 600px) {
    .main-header {
        flex-direction: column;
        text-align: center;
    }

    .main-header .search-box {
        display: none; /* Eliminar búsqueda en móviles */
    }
}
